body {
    display:flex; 
    flex-direction: column; 
    justify-content: center; 
    background-color:ivory; 
    min-height: 100vh;
}

button {
    border-color: black;
    border-width: 2px;
    border-radius: 0%;
    box-shadow: 5px 5px 0px 0px rgb(50, 200, 200);
}

button:active {
    box-shadow: 0px 0px 0px 0px rgb(50, 200, 200);
}

.buttonlink {
    text-decoration: none;
}